!!! XML
!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %title= @ontology.title
    = link_to_ontology_rdf
    %meta{ :name => 'author', :content => @authors.first.foaf::name }
    = stylesheets
  %body
    = yield